In [19]:
import yfinance as yf
import requests
from bs4 import BeautifulSoup
import datetime as dt

In [20]:
ticker_str = ['NVR', 'BKNG', 'GOOGL', 'AMZN', 'GOOG']

In [21]:
df = yf.download(ticker_str, start="2020-01-02", end="2021-01-02")

[*********************100%***********************]  5 of 5 completed

In [22]:
def date_to_int(date):
    start_date = dt.datetime(1999, 12, 31)
    return date.toordinal() - start_date.toordinal()
    
df_close = df['Close'].reset_index()
df_close['Date'] = df_close['Date'].apply(date_to_int)

In [23]:
df_close.dropna(axis=1, how='all').to_csv('test_point.csv', index=False)

In [24]:
df_close

     Date         AMZN         BKNG         GOOG        GOOGL          NVR
0    7307  1898.010010  2074.580078  1367.369995  1368.680054  3735.500000
1    7308  1874.969971  2065.479980  1360.660034  1361.520020  3781.429932
2    7311  1902.880005  2047.400024  1394.209961  1397.810059  3783.270020
3    7312  1906.859985  2068.050049  1393.339966  1395.109985  3806.120117
4    7313  1891.969971  2062.899902  1404.319946  1405.040039  3785.810059
..    ...          ...          ...          ...          ...          ...
248  7664  3172.689941  2088.350098  1738.849976  1734.160034  4216.390137
249  7668  3283.959961  2137.919922  1776.089966  1773.959961  4156.600098
250  7669  3322.000000  2185.399902  1758.719971  1757.760010  4126.819824
251  7670  3285.850098  2205.260010  1739.520020  1736.250000  4127.660156
252  7671  3256.929932  2227.270020  1751.880005  1752.640015  4079.860107

[253 rows x 6 columns]